body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;/*define el grosor o el alto de una linea*/
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4caf50;
    color: aliceblue;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px -2px gray;
}

header h1 {
    margin: 0;
    font-size: 2.5;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: azure;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: black;
}
main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    background: #fff ;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, 0.1);
}
section {
    margin-bottom: 20px;
}
section h2 {
    font-size: 1.8rem;
    color: #4caf50;
    border-bottom: 2px solid #4caf50;
    padding-bottom: 5px;
}
section p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-top: 10px;
}
footer {
    background-color: black;
    color: rgb(219,10,167)(248,250,251);
    text-align: center;
    padding: 1rem;
} 